@font-face {
    font-family: 'Nevis';
    src: url('../../../build/css/fonts/nevis.eot');
    src: url('../../../build/css/fonts/nevis.eot?#iefix') format('embedded-opentype'),
         url('../../../build/css/fonts/nevis.woff') format('woff'),
         url('../../../build/css/fonts/nevis.ttf') format('truetype'),
         url('../../../build/css/fonts/nevis.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FjallaOne';
    src: url('../../../build/css/fonts/FjallaOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Websymbols';
    src: url('../../../build/css/fonts/websymbols-regular-webfont.svg') format('svg');
    src: url('../../../build/css/fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../build/css/fonts/websymbols-regular-webfont.woff') format('woff'),
         url('../../../build/css/fonts/websymbols-regular-webfont.ttf') format('truetype'),
         url('../../../build/css/fonts/websymbols-regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}